<nav>
    <link href="/css/navstyle.css" rel="stylesheet" type="text/css">
        <div>
            <ul class="logo">
                <li id="logo-nav"><img id="nav-setting-img" src="/img/weather-icon.png" alt="Logo"></li>
                <li id="logo-word-nav">WeatherMan </li>
            </ul>
        </div>
        <div>
            <ul class="nav">
                <li><a href="/weather">Home</a></li>
                <li><a href="/weather/favorites">Favorites</a></li>
                <li id="setting-nav-button"><a href="/weather/preferences"><img id="nav-setting-img" src="/img/settings.png" alt="settings wheel"></a></li>
                <li id="logout-nav-button"><a href=""><img id="nav-logout-img" src="/img/logout.png" alt="logout icon"></a></li>
            </ul>
        </div>
</nav>