<nav>
    <link href="/css/navstyle.css" rel="stylesheet" type="text/css">
        <div class="logo">
            <ul>
                <li>logo</li>
                <li>WeatherMan </li>
            </ul>
        </div>
        <div class="nav">
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Favorites</a></li>
                <li><a href="">Settings</a></li>
                <li><a href="">Logout</a></li>
            </ul>
        </div>
</nav>