<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">

</head>
<body>
    <%- include('./modules/nav'); %>
    <h1 id="welcome-message">Welcome firstname,</h1>
    <div class="home-container">
        <div class="left-home-container">
            <div class="dashboard">
                <div class="dashboard-left">
                    <h3>San Diego</h3>
                    <h4>Updated at: 08:00am</h4>
                    <h1>65°F</h1>
                </div>
                <div class="dashboard-right">
                    <h1>80°F</h1>
                    <h1 id="dashboard-right-low-temp">53°F</h1>
                </div>
            </div>
            <div class="hourly-forcast">
                <h2 id="hourly-forcast-title">Hourly Forcast</h2>
                <div class="hourly-details">
                    <ul id="each-hour">
                        <li>09:00am</li>
                        <li>68°F</li>
                        <li>Mostly Sunny</li>
                        <li>UV 3/10</li>
                    </ul>
                    <ul id="each-hour">
                        <li>10:00am</li>
                        <li>72°F</li>
                        <li>Mostly Sunny</li>
                        <li>UV 3/10</li>
                    </ul>
                    <ul id="each-hour">
                        <li>11:00am</li>
                        <li>74°F</li>
                        <li>Mostly Sunny</li>
                        <li>UV 3/10</li>
                    </ul>
                    <ul id="each-hour">
                        <li>12:00pm</li>
                        <li>77°F</li>
                        <li>Mostly Sunny</li>
                        <li>UV 8/10</li>
                    </ul>
                    <ul id="each-hour">
                        <li>01:00pm</li>
                        <li>77°F</li>
                        <li>Mostly Sunny</li>
                        <li>UV 8/10</li>
                    </ul>
                    <ul id="each-hour">
                        <li>02:00pm</li>
                        <li>77°F</li>
                        <li>Mostly Sunny</li>
                        <li>UV 8/10</li>
                    </ul>
                    <ul id="each-hour">
                        <li>03:00pm</li>
                        <li>77°F</li>
                        <li>Mostly Sunny</li>
                        <li>UV 8/10</li>
                    </ul>
                    <ul id="each-hour">
                        <li>04:00pm</li>
                        <li>77°F</li>
                        <li>Mostly Sunny</li>
                        <li>UV 8/10</li>
                    </ul>
                    <ul id="each-hour">
                        <li>05:00pm</li>
                        <li>77°F</li>
                        <li>Mostly Sunny</li>
                        <li>UV 8/10</li>
                    </ul>
                    <ul id="each-hour">
                        <li>06:00pm</li>
                        <li>77°F</li>
                        <li>Mostly Sunny</li>
                        <li>UV 8/10</li>
                    </ul>
                    <ul id="each-hour">
                        <li>07:00pm</li>
                        <li>77°F</li>
                        <li>Mostly Sunny</li>
                        <li>UV 8/10</li>
                    </ul>
                    <ul id="each-hour">
                        <li>08:00pm</li>
                        <li>77°F</li>
                        <li>Mostly Sunny</li>
                        <li>UV 8/10</li>
                    </ul>
                    <ul id="each-hour">
                        <li>09:00pm</li>
                        <li>77°F</li>
                        <li>Mostly Sunny</li>
                        <li>UV 8/10</li>
                    </ul>

                </div>
            </div>
        </div>  
        <div class="right-home-container">
            <div id="humidity-precipitation">
                <h2>Precipitation</h2>
                <h1 id="percentage">80%</h1>
                <h2>Humidity</h2>
                <h1 id="percentage">80%</h1>
            </div>
        </div>  
    </div>
</body>
</html>